$p: rgb(238, 66, 66);
$dp: #b63d3d;
$sc: #d19c66;
$dsc: #8a513d;
$bl: #15222e;
$size: 15;
$offset: 5;
$speed: 0.6s;

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bird {
  width: 1px;
  height: 1px;
  transform: scale($size);
  position: relative;
  left: -32px * $size;
  top: -32px * $size;
  animation: $speed fly steps(1) infinite;
}

$frame1: 9px 1px $p, 10px 1px $p, 1px 2px $p, 2px 2px $p, 9px 2px $dp,
  10px 2px $p, 11px 2px $p, 13px 2px $bl, 14px 2px $bl, 15px 2px $bl,
  16px 2px $bl, 20px 2px $bl, 1px 3px $dp, 2px 3px $p, 3px 3px $p, 4px 3px $p,
  9px 3px $bl, 10px 3px $dp, 11px 3px $p, 14px 3px $bl, 15px 3px $bl,
  16px 3px $bl, 17px 3px $bl, 20px 3px $bl, 21px 3px $bl, 1px 4px $bl,
  2px 4px $dp, 3px 4px $dp, 4px 4px $p, 5px 4px $p, 6px 4px $bl, 7px 4px $bl,
  9px 4px $bl, 10px 4px $dp, 11px 4px $p, 12px 4px $bl, 15px 4px $bl,
  16px 4px $bl, 17px 4px $bl, 18px 4px $bl, 20px 4px $bl, 21px 4px $bl,
  22px 4px $bl, 2px 5px $bl, 3px 5px $dp, 4px 5px $dp, 5px 5px $dp, 6px 5px $p,
  7px 5px $p, 8px 5px $bl, 9px 5px $bl, 10px 5px $dp, 11px 5px $dp, 12px 5px $p,
  13px 5px $bl, 16px 5px $bl, 17px 5px $bl, 18px 5px $bl, 19px 5px $bl,
  20px 5px $bl, 21px 5px $bl, 22px 5px $bl, 3px 6px $bl, 4px 6px $bl,
  5px 6px $dp, 6px 6px $dp, 7px 6px $dp, 8px 6px $p, 9px 6px $bl, 10px 6px $bl,
  11px 6px $dp, 12px 6px $dp, 13px 6px $bl, 16px 6px $bl, 17px 6px $bl,
  18px 6px $bl, 19px 6px $bl, 20px 6px $bl, 21px 6px $bl, 22px 6px $bl,
  4px 7px $bl, 5px 7px $bl, 6px 7px $dp, 7px 7px $dp, 8px 7px $dp, 9px 7px $p,
  10px 7px $bl, 11px 7px $bl, 12px 7px $dp, 13px 7px $dp, 14px 7px $bl,
  15px 7px $bl, 16px 7px $bl, 17px 7px $p, 18px 7px $bl, 19px 7px $bl,
  20px 7px $bl, 21px 7px $bl, 22px 7px $bl, 23px 7px $bl, 0px 8px $bl,
  1px 8px $dp, 2px 8px $p, 3px 8px $p, 4px 8px $bl, 5px 8px $bl, 6px 8px $bl,
  7px 8px $bl, 8px 8px $dp, 9px 8px $dp, 10px 8px $bl, 11px 8px $bl,
  12px 8px $bl, 13px 8px $bl, 14px 8px $bl, 15px 8px $bl, 16px 8px $bl,
  17px 8px $dp, 18px 8px $p, 19px 8px $bl, 20px 8px $bl, 21px 8px $bl,
  22px 8px $bl, 23px 8px $bl, 24px 8px $bl, 0px 9px $bl, 1px 9px $dp, 2px 9px $p,
  3px 9px $p, 4px 9px $bl, 5px 9px $bl, 6px 9px $bl, 7px 9px $bl, 8px 9px $dp,
  9px 9px $dp, 10px 9px $bl, 11px 9px $bl, 12px 9px $bl, 13px 9px $bl,
  14px 9px $bl, 15px 9px $bl, 16px 9px $bl, 17px 9px $dp, 18px 9px $p,
  19px 9px $bl, 20px 9px $bl, 21px 9px $bl, 22px 9px $bl, 23px 9px $bl,
  24px 9px $bl, 25px 9px $bl, 1px 10px $bl, 2px 10px $dp, 3px 10px $dp,
  4px 10px $dp, 5px 10px $dp, 6px 10px $bl, 7px 10px $bl, 8px 10px $bl,
  9px 10px $bl, 10px 10px $bl, 11px 10px $dp, 12px 10px $dp, 13px 10px $bl,
  14px 10px $bl, 15px 10px $bl, 16px 10px $bl, 17px 10px $dp, 18px 10px $p,
  19px 10px $bl, 20px 10px $bl, 21px 10px $bl, 22px 10px $bl, 23px 10px $bl,
  24px 10px $bl, 25px 10px $bl, 26px 10px $bl, 3px 11px $bl, 4px 11px $bl,
  5px 11px $dp, 6px 11px $dp, 7px 11px $dp, 8px 11px $bl, 9px 11px $bl,
  10px 11px $bl, 11px 11px $dp, 12px 11px $dp, 13px 11px $dp, 14px 11px $dp,
  15px 11px $bl, 16px 11px $bl, 17px 11px $bl, 18px 11px $dp, 19px 11px $p,
  20px 11px $bl, 21px 11px $bl, 22px 11px $bl, 23px 11px $bl, 24px 11px $bl,
  25px 11px $bl, 26px 11px $bl, 27px 11px $bl, 3px 12px $bl, 4px 12px $bl,
  5px 12px $bl, 6px 12px $bl, 7px 12px $bl, 8px 12px $bl, 9px 12px $bl,
  10px 12px $bl, 11px 12px $bl, 12px 12px $dp, 13px 12px $dp, 14px 12px $dp,
  15px 12px $dp, 16px 12px $bl, 17px 12px $bl, 18px 12px $bl, 19px 12px $dp,
  20px 12px $p, 21px 12px $bl, 22px 12px $dp, 23px 12px $bl, 24px 12px $bl,
  25px 12px $bl, 26px 12px $bl, 27px 12px $bl, 1px 13px $bl, 2px 13px $dp,
  3px 13px $dp, 4px 13px $dp, 5px 13px $bl, 6px 13px $bl, 7px 13px $bl,
  8px 13px $bl, 9px 13px $dp, 10px 13px $dp, 11px 13px $dp, 12px 13px $bl,
  13px 13px $dp, 14px 13px $dp, 15px 13px $dp, 16px 13px $bl, 17px 13px $bl,
  18px 13px $bl, 19px 13px $dp, 20px 13px $p, 21px 13px $bl, 22px 13px $dp,
  23px 13px $bl, 24px 13px $bl, 25px 13px $bl, 26px 13px $bl, 27px 13px $bl,
  0px 14px $bl, 1px 14px $dp, 2px 14px $dp, 3px 14px $dp, 4px 14px $dp,
  5px 14px $dp, 6px 14px $dp, 7px 14px $dp, 8px 14px $bl, 9px 14px $dp,
  10px 14px $dp, 11px 14px $dp, 12px 14px $dp, 13px 14px $bl, 14px 14px $bl,
  15px 14px $bl, 16px 14px $bl, 17px 14px $bl, 18px 14px $bl, 19px 14px $dp,
  20px 14px $dp, 21px 14px $bl, 22px 14px $dp, 23px 14px $dp, 24px 14px $bl,
  25px 14px $bl, 26px 14px $bl, 26px 14px $bl, 27px 14px $bl, 28px 14px $bl,
  2px 15px $bl, 3px 15px $dp, 4px 15px $dp, 5px 15px $dp, 6px 15px $bl,
  7px 15px $bl, 8px 15px $bl, 9px 15px $bl, 10px 15px $dp, 11px 15px $dp,
  12px 15px $dp, 13px 15px $bl, 14px 15px $bl, 15px 15px $bl, 16px 15px $dp,
  17px 15px $dp, 18px 15px $bl, 19px 15px $dp, 20px 15px $dp, 21px 15px $dp,
  22px 15px $bl, 23px 15px $dp, 24px 15px $bl, 25px 15px $bl, 26px 15px $bl,
  27px 15px $bl, 28px 15px $bl, 4px 16px $bl, 5px 16px $bl, 6px 16px $bl,
  7px 16px $bl, 8px 16px $bl, 9px 16px $bl, 10px 16px $bl, 11px 16px $bl,
  12px 16px $bl, 13px 16px $bl, 14px 16px $dp, 15px 16px $dp, 16px 16px $dp,
  17px 16px $dp, 18px 16px $dp, 19px 16px $bl, 20px 16px $bl, 21px 16px $dp,
  22px 16px $dp, 23px 16px $dp, 24px 16px $bl, 25px 16px $bl, 26px 16px $bl,
  27px 16px $bl, 28px 16px $bl, 7px 17px $bl, 8px 17px $dp, 9px 17px $dp,
  10px 17px $dp, 11px 17px $dp, 12px 17px $bl, 13px 17px $bl, 14px 17px $bl,
  15px 17px $bl, 16px 17px $bl, 17px 17px $dp, 18px 17px $bl, 19px 17px $bl,
  20px 17px $bl, 21px 17px $bl, 22px 17px $dp, 23px 17px $dp, 24px 17px $p,
  25px 17px $bl, 26px 17px $bl, 27px 17px $bl, 28px 17px $bl, 29px 17px $bl,
  7px 18px $bl, 8px 18px $dp, 9px 18px $dp, 10px 18px $dp, 11px 18px $dp,
  12px 18px $bl, 13px 18px $bl, 14px 18px $bl, 15px 18px $bl, 16px 18px $bl,
  17px 18px $bl, 18px 18px $bl, 19px 18px $bl, 20px 18px $bl, 21px 18px $bl,
  22px 18px $dp, 23px 18px $dp, 24px 18px $p, 25px 18px $bl, 26px 18px $bl,
  27px 18px $bl, 28px 18px $bl, 29px 18px $bl, 9px 19px $bl, 10px 19px $bl,
  11px 19px $bl, 12px 19px $bl, 13px 19px $bl, 14px 19px $dp, 15px 19px $dp,
  16px 19px $bl, 17px 19px $bl, 18px 19px $bl, 19px 19px $bl, 20px 19px $bl,
  21px 19px $bl, 22px 19px $dp, 23px 19px $dp, 24px 19px $p, 25px 19px $bl,
  26px 19px $bl, 27px 19px $bl, 28px 19px $bl, 29px 19px $bl, 8px 20px $dp,
  9px 20px $dp, 10px 20px $dp, 11px 20px $bl, 12px 20px $dp, 13px 20px $dp,
  14px 20px $dp, 15px 20px $dp, 16px 20px $bl, 17px 20px $bl, 18px 20px $bl,
  19px 20px $bl, 20px 20px $bl, 21px 20px $bl, 22px 20px $dp, 23px 20px $dp,
  24px 20px $p, 25px 20px $bl, 26px 20px $bl, 27px 20px $bl, 28px 20px $bl,
  29px 20px $bl, 30px 20px $bl, 7px 21px $dp, 8px 21px $dp, 9px 21px $dp,
  10px 21px $dp, 11px 21px $bl, 12px 21px $dp, 13px 21px $dp, 14px 21px $dp,
  15px 21px $dp, 16px 21px $bl, 17px 21px $bl, 18px 21px $bl, 19px 21px $bl,
  20px 21px $bl, 21px 21px $bl, 22px 21px $dp, 23px 21px $dp, 24px 21px $p,
  25px 21px $bl, 26px 21px $bl, 27px 21px $bl, 28px 21px $bl, 29px 21px $bl,
  30px 21px $bl, 7px 22px $dp, 8px 22px $dp, 9px 22px $dp, 10px 22px $bl,
  11px 22px $bl, 12px 22px $bl, 13px 22px $bl, 14px 22px $bl, 15px 22px $bl,
  16px 22px $bl, 17px 22px $bl, 18px 22px $bl, 19px 22px $bl, 20px 22px $bl,
  21px 22px $bl, 22px 22px $bl, 23px 22px $dp, 24px 22px $p, 25px 22px $p,
  26px 22px $bl, 27px 22px $bl, 28px 22px $bl, 29px 22px $bl, 30px 22px $bl,
  31px 22px $bl, 7px 23px $bl, 8px 23px $bl, 9px 23px $bl, 11px 23px $bl,
  12px 23px $dp, 13px 23px $bl, 14px 23px $dp, 15px 23px $dp, 16px 23px $bl,
  17px 23px $bl, 18px 23px $bl, 19px 23px $bl, 20px 23px $bl, 21px 23px $bl,
  22px 23px $bl, 23px 23px $dp, 24px 23px $p, 25px 23px $p, 26px 23px $bl,
  27px 23px $bl, 28px 23px $bl, 29px 23px $bl, 30px 23px $p, 31px 23px $p,
  33px 23px $bl, 34px 23px $p, 10px 24px $dp, 11px 24px $dp, 12px 24px $dp,
  13px 24px $bl, 14px 24px $bl, 15px 24px $dp, 16px 24px $dp, 17px 24px $dp,
  18px 24px $bl, 19px 24px $bl, 20px 24px $bl, 21px 24px $bl, 22px 24px $bl,
  23px 24px $bl, 24px 24px $dp, 25px 24px $p, 26px 24px $p, 27px 24px $bl,
  28px 24px $bl, 29px 24px $bl, 30px 24px $dp, 31px 24px $p, 32px 24px $bl,
  33px 24px $bl, 34px 24px $p, 9px 25px $bl, 10px 25px $dp, 11px 25px $dp,
  12px 25px $dp, 13px 25px $dp, 14px 25px $bl, 15px 25px $bl, 16px 25px $dp,
  17px 25px $bl, 18px 25px $bl, 19px 25px $bl, 20px 25px $bl, 21px 25px $bl,
  22px 25px $bl, 23px 25px $bl, 24px 25px $bl, 25px 25px $dp, 26px 25px $dp,
  27px 25px $p, 28px 25px $bl, 29px 25px $bl, 30px 25px $dp, 31px 25px $p,
  32px 25px $p, 33px 25px $p, 34px 25px $p, 35px 25px $p, 9px 26px $bl,
  10px 26px $dp, 11px 26px $dp, 12px 26px $dp, 13px 26px $bl, 14px 26px $bl,
  15px 26px $bl, 16px 26px $bl, 17px 26px $bl, 18px 26px $bl, 19px 26px $bl,
  20px 26px $bl, 21px 26px $bl, 22px 26px $bl, 23px 26px $bl, 24px 26px $bl,
  25px 26px $bl, 26px 26px $dp, 27px 26px $p, 28px 26px $p, 29px 26px $dp,
  30px 26px $dp, 31px 26px $dp, 32px 26px $dp, 33px 26px $p, 34px 26px $p,
  35px 26px $p, 10px 27px $bl, 11px 27px $bl, 14px 27px $dp, 15px 27px $dp,
  16px 27px $dp, 17px 27px $bl, 18px 27px $bl, 19px 27px $bl, 20px 27px $dp,
  21px 27px $bl, 22px 27px $bl, 23px 27px $bl, 24px 27px $bl, 25px 27px $bl,
  26px 27px $dp, 27px 27px $p, 28px 27px $bl, 29px 27px $dp, 30px 27px $dp,
  31px 27px $bl, 32px 27px $bl, 33px 27px $bl, 34px 27px $dp, 35px 27px $p,
  13px 28px $dp, 14px 28px $dp, 15px 28px $dp, 16px 28px $dp, 17px 28px $bl,
  18px 28px $bl, 19px 28px $dp, 20px 28px $dp, 21px 28px $bl, 22px 28px $bl,
  23px 28px $bl, 24px 28px $bl, 25px 28px $bl, 26px 28px $bl, 27px 28px $bl,
  28px 28px $bl, 29px 28px $dp, 30px 28px $dp, 31px 28px $bl, 32px 28px $bl,
  34px 28px $bl, 35px 28px $dp, 13px 29px $bl, 14px 29px $bl, 15px 29px $bl,
  16px 29px $bl, 18px 29px $bl, 19px 29px $dp, 20px 29px $dp, 21px 29px $bl,
  22px 29px $bl, 23px 29px $bl, 24px 29px $dp, 25px 29px $bl, 26px 29px $bl,
  27px 29px $bl, 28px 29px $bl, 29px 29px $bl, 30px 29px $bl, 31px 29px $bl,
  32px 29px $bl, 33px 29px $bl, 34px 29px $bl, 35px 29px $sc, 36px 29px $sc,
  13px 30px $bl, 14px 30px $bl, 15px 30px $bl, 18px 30px $bl, 19px 30px $bl,
  20px 30px $bl, 21px 30px $bl, 22px 30px $bl, 23px 30px $dp, 24px 30px $dp,
  25px 30px $dp, 26px 30px $bl, 27px 30px $bl, 28px 30px $p, 29px 30px $bl,
  30px 30px $bl, 31px 30px $bl, 32px 30px $bl, 33px 30px $bl, 34px 30px $bl,
  35px 30px $dsc, 36px 30px $sc, 17px 31px $bl, 18px 31px $bl, 19px 31px $bl,
  20px 31px $bl, 21px 31px $bl, 22px 31px $bl, 23px 31px $dp, 24px 31px $dp,
  25px 31px $bl, 26px 31px $bl, 27px 31px $dp, 28px 31px $p, 29px 31px $p,
  30px 31px $bl, 31px 31px $bl, 32px 31px $bl, 33px 31px $bl, 34px 31px $bl,
  35px 31px $dsc, 36px 31px $dsc, 16px 32px $bl, 17px 32px $bl, 18px 32px $bl,
  19px 32px $bl, 20px 32px $bl, 21px 32px $bl, 22px 32px $bl, 23px 32px $bl,
  24px 32px $bl, 25px 32px $bl, 26px 32px $bl, 27px 32px $dp, 28px 32px $dp,
  29px 32px $dp, 30px 32px $bl, 31px 32px $bl, 15px 33px $bl, 16px 33px $bl,
  17px 33px $bl, 18px 33px $bl, 19px 33px $bl, 20px 33px $bl, 21px 33px $bl,
  22px 33px $bl, 23px 33px $bl, 24px 33px $bl, 25px 33px $bl, 26px 33px $bl,
  27px 33px $bl, 28px 33px $bl, 29px 33px $bl, 15px 34px $p, 16px 34px $bl,
  17px 34px $bl, 18px 34px $bl, 19px 34px $bl, 20px 34px $bl, 21px 34px $bl,
  22px 34px $bl, 23px 34px $bl, 24px 34px $bl, 25px 34px $bl, 26px 34px $bl,
  27px 34px $bl, 28px 34px $bl, 29px 34px $bl, 15px 35px $p, 16px 35px $dp,
  17px 35px $bl, 18px 35px $bl, 19px 35px $bl, 20px 35px $bl, 21px 35px $bl,
  22px 35px $bl, 23px 35px $bl, 24px 35px $bl, 25px 35px $bl, 26px 35px $bl,
  27px 35px $bl, 28px 35px $bl, 29px 35px $dsc, 30px 35px $sc, 14px 36px $p,
  15px 36px $dp, 16px 36px $bl, 17px 36px $bl, 18px 36px $bl, 19px 36px $bl,
  20px 36px $bl, 21px 36px $bl, 22px 36px $bl, 23px 36px $dsc, 24px 36px $dsc,
  25px 36px $dsc, 26px 36px $dsc, 27px 36px $sc, 30px 36px $sc, 13px 37px $p,
  14px 37px $dp, 15px 37px $bl, 16px 37px $bl, 17px 37px $bl, 18px 37px $bl,
  19px 37px $bl, 21px 37px $dsc, 22px 37px $dsc, 23px 37px $dsc, 25px 37px $dsc,
  26px 37px $dsc, 27px 37px $dsc, 28px 37px $sc, 12px 38px $p, 13px 38px $dp,
  14px 38px $dp, 15px 38px $bl, 16px 38px $dp, 17px 38px $bl, 18px 38px $bl,
  24px 38px $dsc, 25px 38px $sc, 27px 38px $dsc, 28px 38px $sc, 12px 39px $p,
  13px 39px $dp, 14px 39px $dp, 15px 39px $bl, 16px 39px $dp, 17px 39px $bl,
  18px 39px $bl, 11px 40px $p, 12px 40px $dp, 13px 40px $bl, 14px 40px $bl,
  15px 40px $bl, 16px 40px $bl, 17px 40px $bl, 18px 40px $bl, 11px 41px $dp,
  12px 41px $dp, 13px 41px $bl, 14px 41px $bl, 15px 41px $bl, 16px 41px $bl,
  17px 41px $bl, 18px 41px $bl, 11px 42px $dp, 12px 42px $bl, 13px 42px $bl,
  14px 42px $dp, 15px 42px $bl, 16px 42px $bl, 17px 42px $bl, 11px 43px $dp,
  12px 43px $bl, 13px 43px $bl, 14px 43px $dp, 15px 43px $bl, 16px 43px $bl,
  17px 43px $bl, 15px 44px $bl, 16px 44px $bl, 17px 44px $bl, 15px 45px $bl,
  16px 45px $bl;

$frame2: 23px 21px $bl, 24px 21px $bl, 25px 21px $bl, 26px 21px $bl,
  27px 21px $bl, 28px 21px $bl, 29px 21px $bl, 17px 22px $p, 18px 22px $p,
  19px 22px $p, 20px 22px $p, 21px 22px $p, 22px 22px $p, 23px 22px $p,
  24px 22px $bl, 25px 22px $bl, 26px 22px $bl, 27px 22px $bl, 28px 22px $bl,
  29px 22px $bl, 30px 22px $bl, 31px 22px $bl, 15px 23px $p, 16px 23px $p,
  17px 23px $dp, 18px 23px $dp, 19px 23px $dp, 20px 23px $dp, 21px 23px $p,
  22px 23px $p, 23px 23px $p, 24px 23px $bl, 25px 23px $bl, 26px 23px $bl,
  27px 23px $bl, 28px 23px $bl, 29px 23px $bl, 30px 23px $bl, 31px 23px $bl,
  32px 23px $bl, 33px 23px $bl, 34px 23px $bl, 14px 24px $p, 15px 24px $dp,
  16px 24px $dp, 17px 24px $dp, 18px 24px $dp, 19px 24px $dp, 20px 24px $dp,
  21px 24px $dp, 22px 24px $dp, 23px 24px $p, 24px 24px $p, 25px 24px $bl,
  26px 24px $bl, 27px 24px $p, 28px 24px $p, 29px 24px $bl, 30px 24px $bl,
  31px 24px $bl, 32px 24px $p, 33px 24px $bl, 34px 24px $bl, 35px 24px $bl,
  36px 24px $bl, 37px 24px $bl, 13px 25px $p, 14px 25px $dp, 15px 25px $dp,
  16px 25px $bl, 17px 25px $bl, 18px 25px $dp, 19px 25px $dp, 20px 25px $dp,
  21px 25px $dp, 22px 25px $dp, 23px 25px $dp, 24px 25px $p, 25px 25px $bl,
  26px 25px $bl, 27px 25px $bl, 28px 25px $dp, 29px 25px $p, 30px 25px $bl,
  31px 25px $bl, 32px 25px $p, 33px 25px $bl, 34px 25px $bl, 35px 25px $bl,
  36px 25px $bl, 37px 25px $bl, 38px 25px $bl, 39px 25px $bl, 12px 26px $p,
  13px 26px $p, 14px 26px $dp, 15px 26px $bl, 16px 26px $bl, 17px 26px $bl,
  18px 26px $bl, 19px 26px $bl, 20px 26px $bl, 21px 26px $bl, 22px 26px $bl,
  23px 26px $dp, 24px 26px $dp, 25px 26px $p, 26px 26px $bl, 27px 26px $bl,
  28px 26px $dp, 29px 26px $p, 30px 26px $p, 31px 26px $p, 32px 26px $p,
  33px 26px $p, 34px 26px $bl, 35px 26px $bl, 36px 26px $bl, 37px 26px $bl,
  38px 26px $bl, 39px 26px $bl, 40px 26px $bl, 41px 26px $bl, 12px 27px $p,
  13px 27px $p, 14px 27px $dp, 15px 27px $bl, 16px 27px $bl, 17px 27px $bl,
  18px 27px $bl, 19px 27px $bl, 20px 27px $bl, 21px 27px $bl, 22px 27px $bl,
  23px 27px $dp, 24px 27px $dp, 25px 27px $dp, 26px 27px $p, 27px 27px $bl,
  28px 27px $dp, 29px 27px $p, 30px 27px $p, 31px 27px $p, 32px 27px $p,
  33px 27px $p, 34px 27px $bl, 35px 27px $bl, 36px 27px $bl, 37px 27px $bl,
  38px 27px $bl, 39px 27px $bl, 40px 27px $bl, 41px 27px $bl, 42px 27px $bl,
  11px 28px $p, 12px 28px $p, 13px 28px $dp, 14px 28px $bl, 15px 28px $bl,
  16px 28px $bl, 17px 28px $bl, 18px 28px $bl, 19px 28px $bl, 20px 28px $bl,
  21px 28px $bl, 22px 28px $bl, 23px 28px $dp, 24px 28px $dp, 25px 28px $dp,
  26px 28px $p, 27px 28px $dp, 28px 28px $dp, 29px 28px $dp, 30px 28px $dp,
  31px 28px $p, 32px 28px $p, 33px 28px $p, 34px 28px $bl, 35px 28px $bl,
  36px 28px $bl, 37px 28px $bl, 38px 28px $bl, 39px 28px $bl, 40px 28px $bl,
  41px 28px $bl, 42px 28px $bl, 43px 28px $bl, 10px 29px $p, 11px 29px $p,
  12px 29px $p, 13px 29px $dp, 14px 29px $bl, 15px 29px $bl, 16px 29px $bl,
  17px 29px $bl, 18px 29px $bl, 19px 29px $bl, 20px 29px $bl, 21px 29px $bl,
  22px 29px $dp, 23px 29px $bl, 24px 29px $bl, 25px 29px $bl, 26px 29px $dp,
  27px 29px $p, 28px 29px $p, 29px 29px $p, 30px 29px $p, 31px 29px $bl,
  32px 29px $dp, 33px 29px $p, 34px 29px $bl, 35px 29px $bl, 36px 29px $bl,
  37px 29px $bl, 38px 29px $bl, 39px 29px $bl, 40px 29px $bl, 41px 29px $bl,
  42px 29px $bl, 43px 29px $bl, 44px 29px $bl, 10px 30px $p, 11px 30px $p,
  12px 30px $p, 13px 30px $dp, 14px 30px $bl, 15px 30px $bl, 16px 30px $bl,
  17px 30px $bl, 18px 30px $bl, 19px 30px $bl, 20px 30px $bl, 21px 30px $dp,
  22px 30px $dp, 23px 30px $dp, 24px 30px $bl, 25px 30px $bl, 26px 30px $bl,
  27px 30px $bl, 28px 30px $dp, 29px 30px $dp, 30px 30px $p, 32px 30px $bl,
  33px 30px $dp, 34px 30px $bl, 35px 30px $bl, 36px 30px $bl, 37px 30px $bl,
  38px 30px $bl, 39px 30px $bl, 40px 30px $bl, 41px 30px $bl, 42px 30px $bl,
  11px 31px $p, 12px 31px $p, 13px 31px $dp, 14px 31px $bl, 15px 31px $dp,
  16px 31px $bl, 17px 31px $bl, 18px 31px $bl, 19px 31px $bl, 20px 31px $bl,
  21px 31px $bl, 22px 31px $dp, 23px 31px $dp, 24px 31px $bl, 25px 31px $bl,
  26px 31px $bl, 27px 31px $bl, 28px 31px $bl, 29px 31px $bl, 30px 31px $bl,
  31px 31px $bl, 32px 31px $bl, 33px 31px $sc, 34px 31px $sc, 35px 31px $bl,
  36px 31px $bl, 37px 31px $bl, 38px 31px $bl, 39px 31px $bl, 40px 31px $bl,
  41px 31px $bl, 42px 31px $bl, 43px 31px $bl, 12px 32px $p, 13px 32px $dp,
  14px 32px $bl, 15px 32px $dp, 16px 32px $dp, 17px 32px $bl, 18px 32px $bl,
  19px 32px $bl, 20px 32px $bl, 21px 32px $bl, 22px 32px $bl, 23px 32px $bl,
  24px 32px $bl, 25px 32px $dp, 26px 32px $dp, 27px 32px $bl, 28px 32px $bl,
  29px 32px $bl, 30px 32px $bl, 31px 32px $bl, 32px 32px $bl, 33px 32px $dsc,
  34px 32px $sc, 35px 32px $bl, 36px 32px $bl, 37px 32px $bl, 38px 32px $bl,
  39px 32px $bl, 40px 32px $bl, 41px 32px $bl, 42px 32px $bl, 43px 32px $bl,
  44px 32px $bl, 12px 33px $p, 13px 33px $dp, 14px 33px $bl, 15px 33px $bl,
  16px 33px $dp, 17px 33px $bl, 18px 33px $dp, 19px 33px $dp, 20px 33px $dp,
  21px 33px $dp, 22px 33px $bl, 23px 33px $bl, 24px 33px $bl, 25px 33px $dp,
  26px 33px $dp, 27px 33px $bl, 28px 33px $bl, 29px 33px $bl, 30px 33px $bl,
  31px 33px $bl, 32px 33px $bl, 33px 33px $dsc, 34px 33px $dsc, 35px 33px $bl,
  36px 33px $bl, 37px 33px $bl, 38px 33px $bl, 39px 33px $bl, 40px 33px $bl,
  41px 33px $bl, 42px 33px $bl, 43px 33px $bl, 44px 33px $bl, 45px 33px $bl,
  13px 34px $p, 14px 34px $bl, 15px 34px $bl, 16px 34px $bl, 17px 34px $dp,
  18px 34px $dp, 19px 34px $dp, 20px 34px $bl, 21px 34px $bl, 22px 34px $bl,
  23px 34px $dp, 24px 34px $dp, 25px 34px $bl, 26px 34px $dp, 27px 34px $dp,
  28px 34px $bl, 29px 34px $dp, 30px 34px $dp, 31px 34px $p, 32px 34px $bl,
  34px 34px $bl, 35px 34px $bl, 36px 34px $bl, 37px 34px $bl, 38px 34px $bl,
  39px 34px $bl, 40px 34px $bl, 41px 34px $bl, 42px 34px $bl, 43px 34px $bl,
  44px 34px $bl, 13px 35px $p, 14px 35px $dp, 15px 35px $dp, 16px 35px $bl,
  17px 35px $dp, 18px 35px $dp, 19px 35px $bl, 20px 35px $bl, 21px 35px $bl,
  22px 35px $bl, 23px 35px $dp, 24px 35px $dp, 25px 35px $dp, 26px 35px $bl,
  27px 35px $dp, 28px 35px $bl, 29px 35px $bl, 30px 35px $dp, 31px 35px $dp,
  32px 35px $p, 33px 35px $p, 34px 35px $p, 35px 35px $bl, 36px 35px $bl,
  37px 35px $bl, 38px 35px $bl, 39px 35px $bl, 41px 35px $bl, 42px 35px $bl,
  12px 36px $p, 13px 36px $p, 14px 36px $dp, 15px 36px $bl, 16px 36px $bl,
  17px 36px $bl, 18px 36px $bl, 19px 36px $bl, 20px 36px $bl, 21px 36px $dp,
  22px 36px $bl, 23px 36px $dp, 24px 36px $dp, 25px 36px $dp, 26px 36px $bl,
  27px 36px $bl, 28px 36px $bl, 29px 36px $bl, 30px 36px $bl, 31px 36px $dp,
  32px 36px $dp, 33px 36px $dp, 34px 36px $p, 35px 36px $bl, 37px 36px $bl,
  38px 36px $bl, 39px 36px $bl, 11px 37px $p, 11px 37px $p, 12px 37px $p,
  13px 37px $p, 14px 37px $dp, 15px 37px $bl, 16px 37px $bl, 17px 37px $dp,
  18px 37px $dp, 19px 37px $dp, 20px 37px $bl, 21px 37px $dp, 22px 37px $bl,
  23px 37px $bl, 24px 37px $bl, 25px 37px $bl, 26px 37px $bl, 27px 37px $bl,
  28px 37px $dp, 29px 37px $p, 30px 37px $bl, 31px 37px $p, 32px 37px $bl,
  33px 37px $bl, 34px 37px $dp, 35px 37px $p, 36px 37px $bl, 38px 37px $bl,
  39px 37px $bl, 10px 38px $p, 11px 38px $dp, 12px 38px $dp, 13px 38px $dp,
  14px 38px $bl, 15px 38px $bl, 16px 38px $dp, 17px 38px $dp, 18px 38px $dp,
  19px 38px $dp, 20px 38px $bl, 21px 38px $dp, 22px 38px $bl, 23px 38px $bl,
  24px 38px $bl, 25px 38px $bl, 26px 38px $bl, 27px 38px $bl, 28px 38px $dp,
  29px 38px $dp, 30px 38px $dp, 31px 38px $dp, 32px 38px $bl, 36px 38px $bl,
  9px 39px $p, 10px 39px $dp, 11px 39px $bl, 12px 39px $dp, 13px 39px $bl,
  14px 39px $bl, 15px 39px $bl, 16px 39px $bl, 17px 39px $bl, 18px 39px $dp,
  19px 39px $dp, 20px 39px $bl, 21px 39px $bl, 22px 39px $bl, 23px 39px $bl,
  24px 39px $bl, 25px 39px $dp, 26px 39px $bl, 27px 39px $bl, 28px 39px $bl,
  29px 39px $bl, 30px 39px $dp, 31px 39px $dp, 32px 39px $p, 33px 39px $bl,
  8px 40px $p, 9px 40px $dp, 10px 40px $bl, 11px 40px $bl, 12px 40px $bl,
  13px 40px $bl, 14px 40px $bl, 15px 40px $dp, 16px 40px $bl, 17px 40px $bl,
  18px 40px $dp, 19px 40px $bl, 20px 40px $bl, 21px 40px $bl, 22px 40px $bl,
  23px 40px $bl, 24px 40px $bl, 25px 40px $dp, 26px 40px $bl, 27px 40px $bl,
  28px 40px $bl, 29px 40px $bl, 30px 40px $bl, 31px 40px $dp, 32px 40px $p,
  33px 40px $bl, 7px 41px $p, 8px 41px $dp, 9px 41px $dp, 10px 41px $bl,
  11px 41px $bl, 12px 41px $bl, 13px 41px $bl, 14px 41px $dp, 15px 41px $bl,
  16px 41px $bl, 20px 41px $dsc, 21px 41px $dsc, 22px 41px $dsc, 23px 41px $bl,
  24px 41px $dp, 25px 41px $dp, 26px 41px $bl, 27px 41px $bl, 28px 41px $bl,
  29px 41px $dp, 30px 41px $bl, 31px 41px $dp, 32px 41px $p, 33px 41px $p,
  7px 42px $dp, 8px 42px $dp, 9px 42px $bl, 10px 42px $bl, 11px 42px $bl,
  12px 42px $bl, 13px 42px $dp, 14px 42px $bl, 15px 42px $bl, 23px 42px $bl,
  24px 42px $dp, 25px 42px $dp, 26px 42px $dp, 27px 42px $bl, 28px 42px $dp,
  29px 42px $bl, 30px 42px $bl, 31px 42px $bl, 32px 42px $dp, 33px 42px $p,
  8px 43px $bl, 9px 43px $bl, 10px 43px $dp, 11px 43px $bl, 12px 43px $bl,
  13px 43px $bl, 14px 43px $bl, 15px 43px $bl, 23px 43px $dp, 24px 43px $dp,
  25px 43px $dp, 26px 43px $dp, 27px 43px $bl, 28px 43px $dp, 29px 43px $p,
  31px 43px $bl, 32px 43px $dp, 33px 43px $dp, 11px 44px $bl, 12px 44px $bl,
  13px 44px $bl, 14px 44px $bl, 23px 44px $bl, 24px 44px $bl, 25px 44px $dp,
  26px 44px $dp, 28px 44px $dp, 29px 44px $p, 32px 44px $dp, 33px 44px $dp,
  34px 44px $p, 12px 45px $bl, 13px 45px $bl, 25px 45px $dp, 26px 45px $bl,
  28px 45px $bl, 29px 45px $dp, 32px 45px $bl, 33px 45px $bl, 34px 45px $p,
  25px 46px $bl, 29px 46px $bl;

$frame3: 29px 25px $p, 30px 25px $p, 33px 25px $bl, 34px 25px $p, 29px 26px $bl,
  30px 26px $dp, 31px 26px $p, 32px 26px $bl, 33px 26px $bl, 34px 26px $p,
  25px 27px $bl, 26px 27px $bl, 27px 27px $bl, 30px 27px $dp, 31px 27px $p,
  32px 27px $p, 33px 27px $p, 34px 27px $p, 35px 27px $p, 23px 28px $bl,
  24px 28px $bl, 25px 28px $bl, 26px 28px $bl, 27px 28px $bl, 28px 28px $bl,
  29px 28px $p, 30px 28px $dp, 31px 28px $dp, 32px 28px $dp, 33px 28px $dp,
  34px 28px $p, 35px 28px $p, 20px 29px $bl, 21px 29px $bl, 22px 29px $bl,
  23px 29px $bl, 24px 29px $bl, 25px 29px $bl, 26px 29px $bl, 27px 29px $bl,
  28px 29px $bl, 29px 29px $bl, 30px 29px $dp, 31px 29px $dp, 32px 29px $bl,
  33px 29px $bl, 34px 29px $bl, 35px 29px $dp, 36px 29px $p, 20px 30px $bl,
  21px 30px $bl, 22px 30px $p, 23px 30px $p, 24px 30px $p, 25px 30px $bl,
  26px 30px $bl, 27px 30px $bl, 28px 30px $bl, 29px 30px $bl, 30px 30px $dp,
  31px 30px $dp, 32px 30px $bl, 33px 30px $bl, 35px 30px $bl, 36px 30px $dp,
  19px 31px $bl, 20px 31px $dp, 21px 31px $bl, 22px 31px $dp, 23px 31px $dp,
  24px 31px $dp, 25px 31px $p, 25px 31px $p, 26px 31px $bl, 27px 31px $bl,
  28px 31px $bl, 29px 31px $bl, 30px 31px $bl, 31px 31px $bl, 32px 31px $bl,
  33px 31px $bl, 34px 31px $bl, 35px 31px $bl, 36px 31px $sc, 37px 31px $sc,
  38px 31px $bl, 39px 31px $bl, 18px 32px $bl, 19px 32px $bl, 20px 32px $bl,
  21px 32px $bl, 22px 32px $bl, 23px 32px $dp, 24px 32px $dp, 25px 32px $p,
  26px 32px $p, 27px 32px $p, 28px 32px $p, 29px 32px $p, 30px 32px $p,
  31px 32px $bl, 32px 32px $bl, 33px 32px $bl, 34px 32px $bl, 35px 32px $bl,
  36px 32px $dsc, 37px 32px $sc, 38px 32px $bl, 39px 32px $bl, 40px 32px $bl,
  12px 33px $p, 13px 33px $p, 14px 33px $p, 15px 33px $p, 16px 33px $p,
  17px 33px $bl, 18px 33px $bl, 19px 33px $bl, 20px 33px $bl, 21px 33px $bl,
  22px 33px $bl, 23px 33px $bl, 24px 33px $dp, 25px 33px $dp, 26px 33px $dp,
  27px 33px $dp, 28px 33px $dp, 29px 33px $dp, 30px 33px $dp, 31px 33px $p,
  32px 33px $bl, 33px 33px $bl, 34px 33px $bl, 35px 33px $bl, 36px 33px $dsc,
  37px 33px $dsc, 38px 33px $bl, 39px 33px $bl, 40px 33px $bl, 41px 33px $bl,
  42px 33px $bl, 11px 34px $p, 12px 34px $p, 13px 34px $dp, 14px 34px $dp,
  15px 34px $dp, 16px 34px $dp, 17px 34px $bl, 18px 34px $bl, 19px 34px $bl,
  20px 34px $bl, 21px 34px $bl, 22px 34px $bl, 23px 34px $bl, 24px 34px $bl,
  25px 34px $dp, 26px 34px $dp, 27px 34px $dp, 28px 34px $dp, 29px 34px $dp,
  30px 34px $p, 31px 34px $bl, 32px 34px $bl, 33px 34px $bl, 34px 34px $bl,
  35px 34px $bl, 36px 34px $bl, 37px 34px $bl, 38px 34px $bl, 39px 34px $bl,
  40px 34px $bl, 41px 34px $bl, 42px 34px $bl, 43px 34px $bl, 8px 35px $p,
  9px 35px $p, 10px 35px $p, 11px 35px $dp, 12px 35px $bl, 13px 35px $bl,
  14px 35px $dp, 15px 35px $dp, 16px 35px $bl, 17px 35px $bl, 18px 35px $bl,
  19px 35px $bl, 20px 35px $dp, 21px 35px $bl, 22px 35px $bl, 23px 35px $bl,
  24px 35px $bl, 25px 35px $bl, 26px 35px $bl, 27px 35px $bl, 28px 35px $bl,
  29px 35px $dp, 30px 35px $p, 31px 35px $bl, 32px 35px $bl, 33px 35px $bl,
  34px 35px $bl, 35px 35px $bl, 36px 35px $bl, 37px 35px $bl, 38px 35px $bl,
  39px 35px $bl, 40px 35px $bl, 41px 35px $bl, 42px 35px $bl, 43px 35px $bl,
  44px 35px $bl, 7px 36px $p, 8px 36px $dp, 9px 36px $dp, 10px 36px $dp,
  11px 36px $bl, 12px 36px $bl, 13px 36px $bl, 14px 36px $bl, 15px 36px $bl,
  16px 36px $bl, 17px 36px $bl, 18px 36px $bl, 19px 36px $bl, 20px 36px $dp,
  21px 36px $bl, 22px 36px $bl, 23px 36px $bl, 24px 36px $bl, 25px 36px $bl,
  26px 36px $bl, 27px 36px $bl, 28px 36px $bl, 29px 36px $bl, 30px 36px $dp,
  31px 36px $p, 32px 36px $bl, 33px 36px $bl, 34px 36px $bl, 35px 36px $bl,
  36px 36px $bl, 37px 36px $bl, 38px 36px $bl, 39px 36px $bl, 40px 36px $bl,
  41px 36px $bl, 42px 36px $bl, 43px 36px $bl, 44px 36px $bl, 45px 36px $bl,
  7px 37px $dp, 8px 37px $bl, 9px 37px $bl, 10px 37px $bl, 11px 37px $bl,
  12px 37px $bl, 13px 37px $bl, 14px 37px $dp, 15px 37px $bl, 16px 37px $bl,
  17px 37px $bl, 18px 37px $bl, 19px 37px $bl, 20px 37px $bl, 21px 37px $dp,
  22px 37px $bl, 23px 37px $bl, 24px 37px $bl, 25px 37px $bl, 26px 37px $bl,
  27px 37px $bl, 28px 37px $bl, 29px 37px $bl, 30px 37px $dp, 31px 37px $dp,
  32px 37px $p, 33px 37px $bl, 34px 37px $bl, 35px 37px $bl, 36px 37px $bl,
  37px 37px $bl, 38px 37px $bl, 39px 37px $bl, 40px 37px $bl, 41px 37px $bl,
  42px 37px $bl, 7px 38px $bl, 8px 38px $bl, 9px 38px $dp, 10px 38px $dp,
  11px 38px $bl, 12px 38px $bl, 13px 38px $bl, 14px 38px $bl, 15px 38px $bl,
  16px 38px $bl, 17px 38px $bl, 18px 38px $bl, 19px 38px $bl, 20px 38px $bl,
  21px 38px $bl, 22px 38px $bl, 23px 38px $bl, 24px 38px $bl, 25px 38px $bl,
  26px 38px $bl, 27px 38px $bl, 28px 38px $bl, 29px 38px $dp, 30px 38px $bl,
  31px 38px $bl, 32px 38px $dp, 33px 38px $p, 34px 38px $p, 35px 38px $bl,
  36px 38px $bl, 37px 38px $bl, 38px 38px $bl, 39px 38px $bl, 40px 38px $bl,
  41px 38px $bl, 42px 38px $bl, 43px 38px $bl, 9px 39px $dp, 10px 39px $bl,
  11px 39px $bl, 12px 39px $bl, 13px 39px $bl, 14px 39px $bl, 20px 39px $dp,
  21px 39px $bl, 22px 39px $bl, 23px 39px $dp, 24px 39px $bl, 25px 39px $bl,
  26px 39px $bl, 27px 39px $bl, 28px 39px $dp, 29px 39px $dp, 30px 39px $bl,
  31px 39px $bl, 32px 39px $bl, 33px 39px $dp, 34px 39px $dp, 35px 39px $p,
  36px 39px $bl, 37px 39px $bl, 38px 39px $bl, 39px 39px $bl, 40px 39px $bl,
  41px 39px $bl, 42px 39px $bl, 43px 39px $bl, 44px 39px $bl, 9px 40px $bl,
  10px 40px $bl, 11px 40px $bl, 12px 40px $bl, 13px 40px $bl, 19px 40px $bl,
  20px 40px $dp, 21px 40px $dp, 22px 40px $bl, 23px 40px $bl, 24px 40px $dp,
  25px 40px $bl, 26px 40px $dp, 27px 40px $dp, 28px 40px $bl, 29px 40px $bl,
  30px 40px $dp, 31px 40px $dp, 32px 40px $bl, 33px 40px $bl, 34px 40px $bl,
  36px 40px $bl, 37px 40px $bl, 38px 40px $bl, 39px 40px $bl, 40px 40px $bl,
  42px 40px $bl, 43px 40px $bl, 44px 40px $bl, 9px 41px $bl, 10px 41px $bl,
  11px 41px $bl, 21px 41px $dp, 22px 41px $bl, 23px 41px $bl, 24px 41px $bl,
  25px 41px $dp, 26px 41px $dp, 27px 41px $bl, 28px 41px $dp, 29px 41px $bl,
  30px 41px $dp, 31px 41px $dp, 32px 41px $bl, 33px 41px $bl, 34px 41px $bl,
  36px 41px $bl, 37px 41px $bl, 38px 41px $bl, 39px 41px $bl, 40px 41px $bl,
  43px 41px $bl, 44px 41px $bl, 9px 42px $bl, 10px 42px $bl, 21px 42px $dp,
  22px 42px $bl, 23px 42px $bl, 24px 42px $bl, 25px 42px $dp, 26px 42px $bl,
  27px 42px $bl, 28px 42px $bl, 29px 42px $dp, 30px 42px $bl, 31px 42px $dp,
  32px 42px $dp, 33px 42px $bl, 34px 42px $dp, 35px 42px $dp, 37px 42px $bl,
  38px 42px $bl, 40px 42px $bl, 41px 42px $bl, 20px 43px $bl, 21px 43px $dp,
  22px 43px $dp, 23px 43px $bl, 24px 43px $bl, 25px 43px $bl, 26px 43px $bl,
  27px 43px $dp, 28px 43px $bl, 29px 43px $dp, 30px 43px $dp, 31px 43px $bl,
  32px 43px $dp, 33px 43px $bl, 34px 43px $bl, 35px 43px $dp, 36px 43px $p,
  37px 43px $bl, 38px 43px $bl, 20px 44px $bl, 21px 44px $dp, 22px 44px $dp,
  24px 44px $bl, 25px 44px $dp, 26px 44px $dp, 27px 44px $bl, 28px 44px $dp,
  29px 44px $bl, 30px 44px $dp, 31px 44px $bl, 32px 44px $bl, 33px 44px $bl,
  34px 44px $bl, 35px 44px $bl, 36px 44px $dp, 37px 44px $p, 38px 44px $p,
  21px 45px $bl, 22px 45px $bl, 23px 45px $bl, 24px 45px $dp, 25px 45px $dp,
  26px 45px $dp, 27px 45px $bl, 28px 45px $dp, 29px 45px $bl, 30px 45px $bl,
  31px 45px $dp, 32px 45px $bl, 33px 45px $dp, 34px 45px $p, 35px 45px $bl,
  36px 45px $bl, 37px 45px $dp, 38px 45px $p, 23px 46px $bl, 24px 46px $dp,
  25px 46px $dp, 26px 46px $dp, 28px 46px $dp, 29px 46px $bl, 30px 46px $bl,
  31px 46px $bl, 32px 46px $bl, 33px 46px $bl, 34px 46px $dp, 35px 46px $dp,
  36px 46px $p, 37px 46px $bl, 38px 46px $dp, 39px 46px $p, 23px 47px $bl,
  24px 47px $dp, 25px 47px $dp, 28px 47px $bl, 29px 47px $bl, 30px 47px $bl,
  31px 47px $bl, 32px 47px $bl, 33px 47px $bl, 34px 47px $dp, 35px 47px $dp,
  36px 47px $bl, 29px 48px $bl, 30px 48px $bl, 31px 48px $bl, 32px 48px $bl,
  33px 48px $dp, 34px 48px $dp, 35px 48px $p, 36px 48px $bl, 29px 49px $bl,
  30px 49px $dp, 31px 49px $bl, 32px 49px $bl, 33px 49px $dp, 34px 49px $bl,
  35px 49px $dp, 36px 49px $p, 37px 49px $bl, 29px 50px $bl, 30px 50px $dp,
  31px 50px $bl, 32px 50px $dp, 33px 50px $bl, 34px 50px $bl, 35px 50px $bl,
  36px 50px $dp, 37px 50px $p, 29px 51px $bl, 30px 51px $dp, 32px 51px $dp,
  33px 51px $p, 36px 51px $dp, 37px 51px $dp, 30px 52px $dp, 32px 52px $bl,
  33px 52px $dp, 36px 52px $bl, 37px 52px $dp, 38px 52px $p, 30px 53px $bl,
  33px 53px $bl, 37px 53px $bl, 38px 53px $p;

@keyframes fly {
  0% {
    box-shadow: $frame1;
  }

  25% {
    box-shadow: $frame2;
  }

  50% {
    box-shadow: $frame3;
  }

  75% {
    box-shadow: $frame2;
  }

  100% {
    box-shadow: $frame1;
  }
}
